<div class="panel panel-default">
    <div class="panel-heading">Hier ist das Ende :(</div>
    <div class="panel-body">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="./index.php">Refreshe mal deine Seite, vielleicht ist ja was neues da!</a></li>
        </ul>
    </div>
</div>