<html>
<head>
    {{ include('service/head.html.twig') }}
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../Style/css/register.css">
    {{ include('service/scripts.html.twig') }}
</head>
<body>

<form id="msform" action="{{ path('register_action') }}" method="POST" enctype="multipart/form-data">
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active">Register</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
        <h2 class="fs-title">Registration</h2>
        <label for="USERNAME" class="sr-only">USERNAME</label>
        <input type="text" name="USERNAME" value="" placeholder="USERNAME" autocomplete="off">
        <label for="EMAIL" class="sr-only">EMAIL</label>
        <input type="text" name="EMAIL" value="" placeholder="EMAIL" autocomplete="off">
        <label for="PASSWORD" class="sr-only">PASSWORD</label>
        <input type="password" name="PASSWORD" value="" placeholder="PASSWORD" autocomplete="off">
        <label for="my_upload" class="sr-only">IMAGE</label>
        <input id="my_upload" name="my_upload" class="upload" type="file" accept="image/*">
        <input type="submit" name="submit" class="submit action-button" value="Submit"/>
    </fieldset>
</form>
<!-- Start Scripts -->
<script type="text/javascript" src="../../Style/js/settingscript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- End Scripts -->
</body>
</html>
