body {
    padding: 0;
    background-color: #002152;
    background-image:
            radial-gradient(ellipse at center, #002152 0%, black 130%);
}

.header{
    position: absolute;
    width : 100vw;
}

.header .navbar .collapse .Username{

    margin-right: 20px;

}


.content {
    padding: 0;
    margin: 0;
    height: 100%;

}

.content .warnung{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:200px;
}


.content .container {
    text-align: center;
   flex-direction: column;
    position: relative;
}


.content .container .item{

    background-color: rgba(0, 0, 0, .8);
    padding: 20px;
    margin: 20px;
}

.content .container .main .item{

    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    margin: 20px;
    min-width: 67em;
    min-height: 25em;
    position: relative;
}


#table {

    width: 100%;
}


.tweetForm {

    text-align: center;
    flex-direction: column;
    margin-top: 55px;
    position: relative;
    padding: 2em;

}

.tweetForm .form #submitButton {

    position: absolute;
    right: 1em;


}

.tweetForm .form #my_upload {

    position: absolute;
    left: 1em;
}

.updateForm {

    text-align: center;
    flex-direction: column;
    margin-top: 55px;
    position: relative;
    padding: 2em;

}



.register {

    align-items: center;

}

.regForm {

    text-align: center;
    flex-direction: column;
    margin-top: 5em;
    position: relative;
    padding: 2em;

}

.modal-content {

    background-color: #171a21;
}

.close{

    color: white;

}

.upload {

    margin-right: 12em;
}

.form .btn{

    margin-left: 13.5em;
}

.btn-outline-dark{

    background-color: dimgrey;
    color: white;

}

.container .main .item h5{
    text-align: left;
    line-height: 0;
    font-weight: normal;
    margin-bottom: 0;
}

.container .main .item .namecontainer{
    position: static;
}

.container .main .item .textcontainer{

    position: static;
}


.container .main .item .Likecontainer{

    position: absolute;
    right: 2.5%;
    bottom: 2.5%;
}

.content .container .main .item .imagecontainer{
    position: static;
    width: 100%;
    margin-bottom: 1em;
}

.content .container .main .item .imagecontainer img{
    width : 100%;
    max-width:500px;
    height:200px;
    object-fit: cover;
    object-position: top;
}

.container .main .item .ytcontainer{

    position: static;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    box-sizing: border-box;

}

.container .main .item .ytcontainer iframe{

    object-fit: cover;
    object-position: top;

}

.container .main .item h6{

    position: absolute;
    bottom: 5px;
    right: 5px;

}

.container .main .item .Buttons{

    float: right;
    height: 44px;
}

.container .main .item .Buttons #DislikeButton{

    margin-bottom: 5px;
    width: 100%;
}

.container .main .item .Buttons #likeButton{

    margin-bottom: 5px;
    width: 100%;
}


.container .main .item .Buttons #editButton{

    margin-bottom: 5px;
    width: 100%;

}


.container .main .item .Buttons #deleteButton{

    margin-bottom: 5px;
    width: 100%;

}


.container .main .item .Buttons #deleteButton:hover{

    background-color: darkred;
}

.container .main .item .Buttons #commentButton{

    margin-bottom: 5px;
    width: 100%;

}

.container .main .item .Buttons #reTweetButton{

    margin-bottom: 5px;
    width: 100%;

}

