body {
    padding: 0;
    background-color: #002152;
    background-image:
            repeating-linear-gradient(45deg, transparent, transparent 1px, rgba(0, 0, 0, 0.8) 10px, #002152 10px),
            radial-gradient(ellipse at center, #002152 0%, black 130%);
}

.header{
    position: absolute;
    width : 100vw;
}

.header .navbar .collapse .Username{

    margin-right: 20px;

}


.content {
    padding: 0;
    margin: 0;
    height: 100%;

}

.content .warnung{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:200px;
}


.content .container {
    text-align: center;
   flex-direction: column;
    position: relative;
}


.content .container .item{

    background-color: rgba(0, 0, 0, .8);
    padding: 20px;
    margin: 20px;
}

.content .container .main .item{

    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin: 20px;
}

.content .container .main .item .imagecontainer{
    width: 100%;
    text-align: center;
}

.content .container .main .item .imagecontainer img{
    width : 100%;
    max-width:500px;
    height:200px;
    object-fit: cover;
    object-position: top;
}




#table {

    width: 100%;
}


.tweetForm {

    text-align: center;
    flex-direction: column;
    margin-top: 55px;
    position: relative;
    padding: 2em;

}

.updateForm {

    text-align: center;
    flex-direction: column;
    margin-top: 55px;
    position: relative;
    padding: 2em;

}



.register {

    align-items: center;

}

.regForm {

    text-align: center;
    flex-direction: column;
    margin-top: 5em;
    position: relative;
    padding: 2em;

}

.modal-content {

    background-color: #171a21;
}

.close{

    color: white;

}

.upload {

    margin-right: 12em;
}

.form .btn{

    margin-left: 13.5em;
}
