body {
    background-color: #002152;
    background-image:
            radial-gradient(ellipse at center, #002152 0%, black 130%);
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;

}

.nav-pills-custom>li>a
{ /*button normal color*/
    color: lightgrey;
}

.nav-pills-custom>li>a:focus,
.nav-pills-custom>li>a:hover
{ /*button hover color*/
    background: none;
    color: black;
}

.panel-custom>.panel-heading /*box head(trend and fill)*/
{
    background: none;
    border-bottom: none;
}

.form-control-nav
{	/* searchbar*/
    border: lightgrey solid 1px;
    border-radius:15px;
}

.navbar-default .navbar-collapse, .navbar-default
{
    background-color: #343a40;
}

.panel-footer
{
    background-color: lightcyan;
}

.well
{
    background-color: lightcyan;
}

a
{
    color:#343a40; /* schriftfarbe links*/
}

div.panel-heading
{ /*text field box*/
    padding-top:15px;
    padding-bottom: 0px;
}

.panel-info
{ /*content border*/
    border:1px lightgrey solid;
}

.container-fluid
{
    margin-top: 70px;
}

.container-fluid .panel .panel-body .col-cs-3 
{
    position: static;
    
    
}

.container-fluid .panel .panel-body .col-cs-6
{
    position: static;

}

.col-sm-6 .panel{
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background-color: white;
    margin-bottom: 20px;
    border-radius: 4px;
}


.panel
{
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background-color: white;
    margin-bottom: 20px;
    border-radius: 4px;
}

.panel .panel-body
{
    padding: 15px;
    text-align: center;
}

.panel .panel-body img
{

    vertical-align: middle;
    max-width: 225px;
    max-height: 140px;
    margin-bottom: 5px;
}

.panel .panel-body .row
{
    margin-right: -15px;
    margin-left: -15px;

    padding-left: 15px;
    padding-right: 15px;
}


.container-fluid .container .row .panel .panel-heading
{
    padding-top: 15px;
    padding-left: 15px;
}

.panel-title
{
    font-size: 16px;
}

#edit
{
    font-size: 20px;
    padding-right: 5px;
}

#comment
{
    font-size: 20px;
    padding-right: 5px;
}

#delete
{
    font-size: 20px;
    padding-right: 5px;
}

#reTweet
{
    font-size: 20px;
    padding-right: 5px;
}

#Username{
    padding-left: 10px;
    text-align: left;
}

#Text{
    padding-left: 10px;
    text-align: left;
}

#userpictext{

    margin-top: 5px;
    margin-right: 3px;
    max-width: 40px;
    max-height: 40px;
}

#userpicpost{
    margin-bottom: 0;
    clip-path: circle(50% at center);
    max-width: 64px;
    max-height: 64px;
    width:100%;
    object-fit: cover;
    object-position: top;
}

#Userinput{
    width: 28em;
    margin-right: 0;
    flex-grow: 2;
}

.container-fluid .container .row .col-sm-3 .panel .panel-body{
    text-align: left;
}

#buttons{
    margin-bottom: 20px;
}

#line{
    border: 1px;
}

.header .navbar .collapse .Username{

    margin-right: 20px;

}

#commentinput{
    width: 14em;
    margin-right: 0;
    flex-grow: 2;
}

#commentcontainerfluid{
    text-align: center;
}

#commenttweet{

    margin-top: 10px;

}
