<div class="media">
    <a class="media-left" href="#fake">
        <img id="userpictext" alt="" class="media-object img-rounded" src="{{ tweet.getUser().getPicture() }}">
    </a>
    <div id="commenttweet" class="media-body">
        {{ tweet.getText() }}
    </div>
</div>