<div class="media-body">
    {% if(userid is not same as(null)) %}
        {% if(reTweet is not same as(null)) %}
            <form action="./index.php?controller=TwitterController&action=reTweetAction&id={{ reTweet.getId() }}" method="POST" enctype="multipart/form-data">
                <label for="Userinput" class="control-label sr-only">reTweet</label>
                <input id="Userinput" name="text" type="text" class="form-control" autocomplete="off" placeholder="ReTweet Text eingeben">
                <label for="img-upload"><i id="img-upload-icon" class="fas fa-file-image"></i></label>
                <input id="img-upload" name="img-upload"    class="upload" type="file" accept="image/*">
            </form>
        {% elseif(update is not same as(null)) %}
            <form action="./index.php?controller=TwitterController&action=updateAction&id={{ update.getId() }}" method="POST" enctype="multipart/form-data">
                <label for="Userinput" class="control-label sr-only">Edit</label>
                <input id="Userinput" name="text" type="text" class="form-control" autocomplete="off" value="{{ update.getText() }}">
                <label for="img-upload"><i id="img-upload-icon" class="fas fa-file-image"></i></label>
                <input id="img-upload" name="img-upload" class="upload" type="file" accept="image/*">
            </form>
        {% else %}
            <form action="./index.php?controller=TwitterController&action=createAction" method="POST" enctype="multipart/form-data">
                <label for="Userinput" class="control-label sr-only">Post</label>
                <input id="Userinput" name="text" type="text" class="form-control" autocomplete="off">
                <label for="img-upload"><i id="img-upload-icon" class="fas fa-file-image"></i></label>
                <input id="img-upload" name="img-upload" class="upload" type="file" accept="image/*">
            </form>
        {% endif %}
    {% else %}
        <form action="./index.php?controller=TwitterController&action=createAction" method="POST" enctype="multipart/form-data">
            <label for="Userinput" class="control-label sr-only">Post</label>
            <input id="Userinput" name="text" type="text" class="form-control" autocomplete="off" disabled>
            <label for="img-upload"><i id="img-upload-icon" class="fas fa-file-image"></i></label>
            <input id="img-upload" name="img-upload" class="upload" type="file" accept="image/*">
        </form>
    {% endif %}
</div>