#config/routes.yaml

index:
  path: /
  controller: Test\Controller\TwitterController::indexAction

login:
  path: /feed/login
  controller: Test\Controller\LoginController::LoginAction

logout:
  path: /feed/logout
  controller: Test\Controller\LoginController::logoutAction

tweet_feed:
  path: /feed
  controller: Test\Controller\TwitterController::indexAction

comment_feed:
  path: /feed/comments/{tweet?}/{c?}/{comment?}
  controller: Test\Controller\CommentController::commentFeed
  requirements:
    tweet: '\d+'
    comment: '\d+'

register_main:
  path: /register
  controller: Test\Controller\LoginController::indexAction

register_action:
  path: /register/action
  controller: Test\Controller\LoginController::registerAction

settings_main:
  path: /feed/user/settings
  controller: Test\Controller\UserActionController::settingsIndex

settings_action:
  path: /feed/user/settings/change
  controller: Test\Controller\UserActionController::changeAction

delete_account:
  path: /feed/user/delete
  controller: Test\Controller\UserActionController::deleteAcc

comment:
  path: /feed/{tweet?}/{c?}/
  controller: Test\Controller\CommentController::indexAction
  requirements:
    tweet: '\d+'

create_comment:
  path: /feed/comment/{tweet?}
  controller: Test\Controller\CommentController::createAction
  requirements:
    tweet: '\d+'


delete_comment:
  path: /feed/comment/delete/{tweet?}/{c?}/{comment?}
  controller: Test\Controller\CommentController::deleteAction
  requirements:
    tweet: '\d+'
    comment: '\d+'

update_comment:
  path: /feed/comment/update/{tweet?}/{c?}/{comment?}
  controller: Test\Controller\CommentController::updateAction
  requirements:
    tweet: '\d+'
    comment: '\d+'

create_post:
  path: /feed/post
  controller: Test\Controller\TwitterController::createAction

update_post:
  path: /feed/update/{tweet?}
  controller: Test\Controller\TwitterController::updateAction
  requirements:
    tweet: '\d+'

reTweet_post:
  path: /feed/reTweet/{tweet?}
  controller: Test\Controller\TwitterController::reTweetAction
  requirements:
    tweet: '\d+'

delete_post:
  path: /feed/post/delete/{tweet?}
  controller: Test\Controller\TwitterController::deleteAction
  requirements:
    tweet: '\d+'

dislike:
  path: /feed/dislike/{tweet?}
  controller: Test\Controller\LikeController::dislikeAction
  requirements:
    tweet: '\d+'

like:
  path: /feed/like/{tweet?}
  controller: Test\Controller\LikeController::likeAction
  requirements:
    tweet: '\d+'