# config/services.yaml

parameters:
    connection:
      driver: pdo_mysql
      user: root
      password: root
      dbname: Twitter2

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Test\:
        resource: '../src/*'
        exclude: '../src/{Model}'

    Test\Controller\:
        resource: '../src/Controller/*'
        public: true


    Symfony\Component\EventDispatcher\EventDispatcher:
        public: true

    orm.config:
        factory: ['Doctrine\ORM\Tools\Setup', 'createAnnotationMetadataConfiguration']
        class: Doctrine\ORM\Configuration
        arguments:
          - ['../src/Model']
          - true
          - null
          - null
          - false

    Doctrine\ORM\EntityManagerInterface:
        class: Doctrine\ORM\EntityManager
        factory: ['Doctrine\ORM\EntityManager', 'create']
        arguments: ["%connection%", "@orm.config"]
