# config/services.yaml

parameters:
    connection:
      driver: pdo_mysql
      user: root
      password: root
      dbname: Twitter2

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Test\:
        resource: '../src/*'
        exclude: '../src/{Model}'

    Test\Controller\:
        resource: '../src/Controller/*'
        public: true

    event_dispatcher:
      alias: Symfony\Component\EventDispatcher\EventDispatcher

    Symfony\Component\EventDispatcher\EventDispatcher:
        public: true

    orm.config:
        factory: ['Doctrine\ORM\Tools\Setup', 'createAnnotationMetadataConfiguration']
        class: Doctrine\ORM\Configuration
        arguments:
          - ['../src/Model']
          - true
          - null
          - null
          - false

    entity_manager:
      alias: Doctrine\ORM\EntityManagerInterface

    Doctrine\ORM\EntityManagerInterface:
        class: Doctrine\ORM\EntityManager
        factory: ['Doctrine\ORM\EntityManager', 'create']
        arguments: ["%connection%", "@orm.config"]
        public: true


    Test\Listener\CreatedAccountListener:
      tags:
        - {name: kernel.event_listener, event: Created.account, method: sendAccountCreatedMail}


    Test\Listener\AccountDataChangedListener:
          tags:
            - {name: kernel.event_listener, event: AccountSettings.Changed, method: sendDataUpdatedMail}

    Test\Listener\SecurityListener:
      arguments: ["@entity_manager"]
      tags:
        - {name: kernel.event_listener, event: kernel.request, method: onKernelRequest}
